.content {
    position: absolute;
    left: 50%;
    top: 50%;
}

.btn {
  padding: 10px 15px 10px 15px;
  border: 1px solid black;
  border-radius: 5%;

}

.btn:hover {
  padding: 10px 15px 10px 15px;
  background-color: gray;
  border: 1px solid white;

}

body {
width: 500px;
height: 500px;
}
